<div class="modal-header">
  <h3 class="modal-title" translate="productDlg.Title"></h3>
</div>
<div class="modal-body">
  <form name="products" role="form">
    <div class="form-group">
      <label for="name" translate="productDlg.Name"></label>
      <input type="text" ng-model="newProduct.name" class="form-control" id="name" placeholder="{{ 'productDlg.EnterName' | translate }}" ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="price" translate="productDlg.Price"></label>
      <input type="number" ng-model="newProduct.price" class="form-control" id="price" placeholder="{{ 'productDlg.EnterPrice' | translate }}" ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="inStock" translate="productDlg.InStock"></label>
      <input type="text" ng-model="newProduct.quantityInStock" class="form-control" id="quantityInStock" placeholder="{{ 'productDlg.EnterInStock' | translate }}" ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="price" translate="productDlg.Sold"></label>
      <input type="number" ng-model="newProduct.quantitySold" class="form-control" id="quantitySold" placeholder="{{ 'productDlg.EnterSold' | translate }}" ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="image" translate="productDlg.Image"></label>
      <input type="text" ng-model="newProduct.imagePath" class="form-control" id="image" placeholder="{{ 'productDlg.EnterImage' | translate }}" ng-required="true"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group" role="group" aria-label="{{ 'productDlg.AddProductButton' | translate }}">
    <button type="submit" class="btn btn-success" ng-click="onOk(product)" translate="productDlg.Submit" ng-disabled="products.$invalid"></button>
    <button type="button" class="btn btn-danger" ng-click="onCancel()" translate="productDlg.Cancel"></button>
  </div>
</div>
