<div class="col-md-8 col-md-offset-2">
	<div class="col-xs-6">
		<h1 translate="sellers.Title"></h1>
	</div>
	<div class="col-xs-6">
		<button type="button" ng-click="onAddSeller()" title="Add Seller" class="btn btn-success pull-right circled"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	</div>

	<table class="table">   
		<thead>
		  <tr>
		  	<td>
				<a href="" ng-click="sortColumns('name')">
					<span translate="sellers.Name"\>
				</a>
				<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
	        	<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
	        </td>
	        <td>
				<a href="" ng-click="sortColumns('category')">
					<span translate="sellers.Category">
				</a>
				<span ng-show="sortType == 'category' && !sortReverse" class="fa fa-caret-down"></span>
	        	<span ng-show="sortType == 'category' && sortReverse" class="fa fa-caret-up"></span>
	        </td>
		  </tr>
		</thead>

		<tbody data-link="row" class="rowlink">
		  <tr ng-repeat="seller in sellers | orderBy:sortType:sortReverse track by seller.id">
		    <td><a ng-href="#/sellerdetails/{{seller.id}}">{{seller.name}}</a></td>
		    <td>{{seller.category}}</td>
		    <td><button type="button" ng-click="onEditSeller(seller)" title="Edit Seller" class="btn btn-success btn-sm pull-right circled"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></td>
		  </tr>
		</tbody>
	</table>
</div>