.Sellers {
	/* TODO: add any Sellers-specific styles here! */
}

.margin-bot {
	margin-bottom: 80px;
}

.circled {
	border-radius: 50%;

	.glyphicon {
		font-size: 2em;
		padding-top: 2px;
		padding-left: 2px;
	}

	.glyphicon-edit {
		font-size: 1em;
	}
}