.Sellers {
	/* TODO: add any Sellers-specific styles here! */
}

.margin-bot {
	margin-bottom: 80px;
}

.circled {
	border-radius: 50%;

	.glyphicon {
		font-size: 2em;
		padding-top: 2px;
		padding-left: 2px;
	}

	.glyphicon-edit {
		font-size: 1em;
	}
}

.seller-photo {
	max-width: 100%;
	max-height: 150px;
	border-radius: 10px 30px 15px;
}

.product-photo {
	max-width: 100px;
	max-height: 150px;
	border-radius: 5px;
}

.product-block {
	padding: 5px;
	background-color: #eee;
	border-radius: 5px;
	height: 100px;
}

.display-table {
	display: table;
}

.equal-height {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.tab-content {
	padding-top: 40px;
}