<div class="modal-header">
  <h3 class="modal-title" translate="product.name"></h3>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
  <div class="btn-group" role="group" aria-label="{{ 'productDetails.ProductDetailsButtons' | translate }}">
    <button type="button" class="btn btn-success" ng-click="onEdit(product)" translate="productDetails.OnEdit"></button>
    <button type="button" class="btn btn-danger" ng-click="onDone()" translate="productDetails.onDone"></button>
  </div>
</div>
