<div class="display-table product-block">
	<div class="col-md-6">
		<img ng-src="{{product.imagePath}}" alt="{{ 'product.ProductImage' | translate }}" class="product-photo text-center equal-height"/>
	</div>
	<div class="col-md-6 equal-height">
		<p><b>{{product.name}}</b></p>
		<p><span translate="product.Price"></span>: <span class="pull-right">{{product.price}}</span></p>
		<p><span translate="product.InStock"></span>: <span class="pull-right">{{product.quantityInStock}}</span></p>
		<p><span translate="product.Sold"></span>: <span class="pull-right">{{product.quantitySold}}</span></p>
	</div>
</div>