<div ng-model="product" ng-click="edit({product: product})">
	<div class="product-photo-container">
		<img ng-src="{{product.imagePath || 'https://az853139.vo.msecnd.net/static/images/not-found.png'}}" alt="{{ 'product.ProductImage' | translate }}" class="product-photo center-block"/>
	</div>
	<div>
		<p class="text-center"><b>{{product.name}}</b></p>
		<p><span translate="product.Price"></span>: <span class="pull-right">{{product.price}}</span></p>
		<p><span translate="product.InStock"></span>: <span class="pull-right">{{product.quantityInStock}}</span></p>
		<p><span translate="product.Sold"></span>: <span class="pull-right">{{product.quantitySold}}</span></p>
	</div>
</div>
